<p>
    <div data-bind="visible: selectedMethod() == 'dpd_pickup'">
        <div><label for="dpd-pickup-point-select" data-bind="i18n: 'Select DPD Pickup Point'"></label>:</div>
        <div>
            <select id="dpd-pickup-point-select"
                    data-validate="{required:true}"
                    data-bind="options: pickupPoints,
                            optionsText: 'company',
                            optionsValue: 'pickup_point_id',
                            value: selectedPickupPoint"></select>
        </div>
    </div>
</p>