<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <dpd>
                <model>AdeoWeb\Dpd\Model\Carrier</model>
                <call_courier_order_count>1</call_courier_order_count>
                <active>0</active>
                <title>DPD</title>
                <sort_order>20</sort_order>
                <allowed_methods>classic,pickup,saturday</allowed_methods>
                <print_label_format>A4</print_label_format>
                <classic>
                    <name>Classic</name>
                    <delivery_times_enable>1</delivery_times_enable>
                </classic>
                <pickup>
                    <name>Pickup</name>
                </pickup>
                <saturday>
                    <name>Saturday</name>
                </saturday>
                <cron>
                    <pickup_point_update>0 0 * * *</pickup_point_update>
                </cron>
            </dpd>
        </carriers>
    </default>
</config>