<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
        <add id="Magento_Backend::stores_dpd" title="DPD" module="AdeoWeb_Dpd" sortOrder="999" parent="Magento_Backend::stores" resource="Magento_Backend::stores_settings"/>
		<add id="AdeoWeb_Dpd::adeoweb_dpd_location" title="Locations" action="dpd/location/index" module="AdeoWeb_Dpd" parent="Magento_Backend::stores_dpd" resource="AdeoWeb_Dpd::dpd_location" sortOrder="10"/>
	</menu>
</config>