<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers">
            <group id="dpd" translate="label" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10">
                <label>DPD</label>

                <field id="version_no" type="note" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="0">
                    <label>Version</label>
                    <frontend_model>AdeoWeb\Dpd\Block\System\Config\Form\Field\Version</frontend_model>
                </field>
                <field id="active" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="10">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" type="text" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="20">
                    <label>Title</label>
                </field>
                <field id="allowed_methods" type="multiselect" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="30">
                    <label>Allowed Methods</label>
                    <source_model>AdeoWeb\Dpd\Model\Config\Source\Method</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="print_label_format" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="40">
                    <label>Label Printing Format</label>
                    <source_model>AdeoWeb\Dpd\Model\Config\Source\PageFormat</source_model>
                </field>
                <field id="auto_include_return_label" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="50">
                    <label>Auto Include DPD Return Label</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="auto_document_return" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="60">
                    <label>Auto DPD Document Return Service</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sort_order" type="text" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="70">
                    <label>Sort Order</label>
                </field>

                <group id="api" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="900">
                    <label>API Settings</label>

                    <field id="username" type="text" translate="label" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="10">
                        <label>Username</label>
                    </field>
                    <field id="password" type="password" translate="label" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="20">
                        <label>Password</label>
                    </field>
                    <field id="url" type="text" translate="label" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="30">
                        <label>API URL</label>
                        <validate>validate-url</validate>
                    </field>
                    <field id="debug" type="select" translate="label" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="40">
                        <label>Debug mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>

                <group id="classic" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="910">
                    <label>DPD Classic Configuration</label>
                    <field id="name" type="text" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10">
                        <label>Name</label>
                    </field>
                    <field id="price" type="text" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="20">
                        <label>Price</label>
                        <validate>validate-number validate-zero-or-greater</validate>
                    </field>
                    <field id="free_shipping_enable" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="30">
                        <label>Enable Free Shipping Threshold</label>
                        <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    </field>
                    <field id="free_shipping_subtotal" type="text" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="40">
                        <label>Free Shipping Amount Threshold</label>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <depends>
                            <field id="free_shipping_enable">1</field>
                        </depends>
                    </field>
                    <field id="sallowspecific" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="50">
                        <label>Ship to Applicable Countries</label>
                        <frontend_class>shipping-applicable-country</frontend_class>
                        <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                    </field>
                    <field id="specificcountry" type="multiselect" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="60">
                        <label>Ship to Specific Countries</label>
                        <can_be_empty>1</can_be_empty>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    </field>
                    <field id="restrictions" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="70">
                        <label>Restrictions</label>
                        <frontend_model>AdeoWeb\Dpd\Block\System\Config\Form\Field\Restrictions</frontend_model>
                        <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    </field>
                    <field id="delivery_times_enable" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="80">
                        <label>Enable Delivery Time Selection</label>
                        <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    </field>
                </group>

                <group id="pickup" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="920">
                    <label>DPD Pickup Configuration</label>
                    <field id="name" type="text" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10">
                        <label>Name</label>
                    </field>
                    <field id="price" type="text" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="20">
                        <label>Price</label>
                        <validate>validate-number validate-zero-or-greater</validate>
                    </field>
                    <field id="free_shipping_enable" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="30">
                        <label>Enable Free Shipping Threshold</label>
                        <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    </field>
                    <field id="free_shipping_subtotal" type="text" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="40">
                        <label>Free Shipping Amount Threshold</label>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <depends>
                            <field id="free_shipping_enable">1</field>
                        </depends>
                    </field>
                    <field id="sallowspecific" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="50">
                        <label>Ship to Applicable Countries</label>
                        <frontend_class>shipping-applicable-country</frontend_class>
                        <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                    </field>
                    <field id="specificcountry" type="multiselect" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="60">
                        <label>Ship to Specific Countries</label>
                        <can_be_empty>1</can_be_empty>
                        <source_model>AdeoWeb\Dpd\Model\Config\Source\EuropeanCountries</source_model>
                    </field>
                    <field id="restrictions" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="70">
                        <label>Restrictions</label>
                        <frontend_model>AdeoWeb\Dpd\Block\System\Config\Form\Field\EuropeanRestrictions</frontend_model>
                        <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    </field>
                    <field id="google_maps_enabled" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="80">
                        <label>Use Google Maps</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="google_maps_api_key" type="text" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="90">
                        <label>Google Maps API Key</label>
                        <depends>
                            <field id="google_maps_enabled">1</field>
                        </depends>
                    </field>
                </group>

                <group id="saturday" translate="label" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="930">
                    <label>DPD Saturday Configuration</label>
                    <field id="name" type="text" translate="label" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10">
                        <label>Name</label>
                    </field>
                    <field id="price" type="text" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="20">
                        <label>Price</label>
                        <validate>validate-number validate-zero-or-greater</validate>
                    </field>
                    <field id="free_shipping_enable" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="30">
                        <label>Enable Free Shipping Threshold</label>
                        <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    </field>
                    <field id="free_shipping_subtotal" type="text" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="40">
                        <label>Free Shipping Amount Threshold</label>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <depends>
                            <field id="free_shipping_enable">1</field>
                        </depends>
                    </field>
                    <field id="sallowspecific" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="50">
                        <label>Ship to Applicable Countries</label>
                        <frontend_class>shipping-applicable-country</frontend_class>
                        <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                    </field>
                    <field id="specificcountry" type="multiselect" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="60">
                        <label>Ship to Specific Countries</label>
                        <can_be_empty>1</can_be_empty>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    </field>
                    <field id="restrictions" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="70">
                        <label>Restrictions</label>
                        <frontend_model>AdeoWeb\Dpd\Block\System\Config\Form\Field\Restrictions</frontend_model>
                        <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    </field>
                    <group id="timeframe" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="70">
                        <label>Timeframes Configuration</label>
                        <comment>NOTE: Set time in Website timezone.</comment>
                        <field id="monday" type="multiselect" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="10">
                            <label>Monday</label>
                            <can_be_empty>1</can_be_empty>
                            <source_model>AdeoWeb\Dpd\Model\Config\Source\AvailableTimes</source_model>
                        </field>
                        <field id="tuesday" type="multiselect" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="20">
                            <label>Tuesday</label>
                            <can_be_empty>1</can_be_empty>
                            <source_model>AdeoWeb\Dpd\Model\Config\Source\AvailableTimes</source_model>
                        </field>
                        <field id="wednesday" type="multiselect" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="30">
                            <label>Wednesday</label>
                            <can_be_empty>1</can_be_empty>
                            <source_model>AdeoWeb\Dpd\Model\Config\Source\AvailableTimes</source_model>
                        </field>
                        <field id="thursday" type="multiselect" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="40">
                            <label>Thursday</label>
                            <can_be_empty>1</can_be_empty>
                            <source_model>AdeoWeb\Dpd\Model\Config\Source\AvailableTimes</source_model>
                        </field>
                        <field id="friday" type="multiselect" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="50" >
                            <label>Friday</label>
                            <can_be_empty>1</can_be_empty>
                            <source_model>AdeoWeb\Dpd\Model\Config\Source\AvailableTimes</source_model>
                        </field>
                    </group>
                </group>

                <group id="sameday" translate="label" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="930">
                    <label>DPD Same Day Configuration</label>
                    <field id="name" type="text" translate="label" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10">
                        <label>Name</label>
                    </field>
                    <field id="price" type="text" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="20">
                        <label>Price</label>
                        <validate>validate-number validate-zero-or-greater</validate>
                    </field>
                    <field id="free_shipping_enable" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="30">
                        <label>Enable Free Shipping Threshold</label>
                        <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    </field>
                    <field id="free_shipping_subtotal" type="text" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="40">
                        <label>Free Shipping Amount Threshold</label>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <depends>
                            <field id="free_shipping_enable">1</field>
                        </depends>
                    </field>
                    <field id="sallowspecific" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="50">
                        <label>Ship to Applicable Countries</label>
                        <frontend_class>shipping-applicable-country</frontend_class>
                        <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                    </field>
                    <field id="specificcountry" type="multiselect" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="60">
                        <label>Ship to Specific Countries</label>
                        <can_be_empty>1</can_be_empty>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    </field>
                    <field id="restrictions" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="70">
                        <label>Restrictions</label>
                        <frontend_model>AdeoWeb\Dpd\Block\System\Config\Form\Field\Restrictions</frontend_model>
                        <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    </field>
                    <group id="timeframe" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="70">
                        <label>Timeframes Configuration</label>
                        <comment>NOTE: Set time in Website timezone.</comment>
                        <field id="monday" type="multiselect" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="10">
                            <label>Monday</label>
                            <can_be_empty>1</can_be_empty>
                            <source_model>AdeoWeb\Dpd\Model\Config\Source\AvailableTimes</source_model>
                        </field>
                        <field id="tuesday" type="multiselect" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="20">
                            <label>Tuesday</label>
                            <can_be_empty>1</can_be_empty>
                            <source_model>AdeoWeb\Dpd\Model\Config\Source\AvailableTimes</source_model>
                        </field>
                        <field id="wednesday" type="multiselect" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="30">
                            <label>Wednesday</label>
                            <can_be_empty>1</can_be_empty>
                            <source_model>AdeoWeb\Dpd\Model\Config\Source\AvailableTimes</source_model>
                        </field>
                        <field id="thursday" type="multiselect" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="40">
                            <label>Thursday</label>
                            <can_be_empty>1</can_be_empty>
                            <source_model>AdeoWeb\Dpd\Model\Config\Source\AvailableTimes</source_model>
                        </field>
                        <field id="friday" type="multiselect" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="50" >
                            <label>Friday</label>
                            <can_be_empty>1</can_be_empty>
                            <source_model>AdeoWeb\Dpd\Model\Config\Source\AvailableTimes</source_model>
                        </field>
                    </group>
                </group>

                <group id="cron" translate="label" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="940">
                    <label>CRON</label>

                    <field id="pickup_point_update" type="text" translate="label" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10">
                        <label>Pickup Point Update Frequency</label>
                        <comment>Enter valid CRON expression, e.g. 0 1 * * * </comment>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>